#map {
  height: 650px;
}

#station_detail {
  margin-left: 32px;
  font-size:32px;
  height:35px;
  width:960px;
}

#top_description {
  font-size:10px;
  margin-left: 32px;
}

path {
  fill: #08519c; /* #000; */
  fill-opacity: .7;
  stroke: #fff;
  stroke-width: .5px;
}

.table th, .table td { 
  border-top: none !important; 
}
.table>tbody>tr>td {
  border-top: none;
}

.table {
}
.table tr td.NTrips {
  width:55px;
  text-align:right;
  font-size:larger;
  font-weight:bold;
  padding-right:0px;
  /* display:block; */
}
.table tr td.RowStationName {
  float:left;
  padding-left:0px;
  text-align:center; 
  vertical-align:middle;
  padding-top:10px;
}
#legend{
  font-size:19px;
  padding-right:0px;
  height:100px;
}
#legend_label{
  font-size:12px;
}

.leaflet-left .leaflet-control {
  margin-left: 0px;
}